# Ignore Node.js dependencies
node_modules

# Keep environment variables out of version control
.env

# Ignore Prisma migrations
prisma/generated/

# Docker files
docker/volumes

# Ignore build artifacts
my-docs-site/

#Routes
src/http/healthcheck

# Ignore test coverage reports
coverage/